body {
    background-image: url("../images/bg1.jpg");
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img {
    width: 150px;
    height: 100px;
}
.charactersPool {
    background-color: lightyellow;
    color: black;
    font-weight: bolder;
}
.yourChar {
    background-color: lightgreen;
    color: black;
    font-weight: bolder;
}
.opponent {
    background-color: palevioletred;
    color: black;
    font-weight: bolder;
}
.defender {
    background-color: brown;
    color: lightyellow;
    font-weight: bolder;
}
.card {
    text-align: center;
}
.scoreReport {
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}